/* You can add global styles to this file, and also import other style files */
body{
  background-color: black;
  color:rgb(187, 166, 166);
}
input[type="text"],input[type="number"], textarea[id] {

  background-color :gray;
  color:black;

}
input[type="text"]:focus, input[type="number"]:focus,textarea:focus[id] {

  background-color :gray;
  color:black;

}

button{
  margin-top:2px;
 margin-right:2px;
}
